<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="ext"
                              publicKeyToken="ebdf360c9c4270fe"
                              culture="neutral" />
            <bindingRedirect oldVersion="1.0.0.1-1.9.9.9" newVersion="1.0.1.5"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
